form{
    width: 60%;
    border: solid 1px;
    padding: 10px;
    margin-left: 20%;
    height: 260px;
}
input{
    width: 95%;
    margin: 2% 0;

}
button{
    padding: 12px 10px;
    background-color: rgb(105, 0, 128);
    width: 97%;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
.customer{
    display: flex;
}
